
<article class="docs-component" id="docs-{{escape title}}"></article>

{{#if video-hero}}
{{> video-hero-header}}
{{/if}}

{{!-- Start container for docs and table of contents --}}
<div class="l-grid__row">

{{!-- Start container for docs --}}
<div class="l-grid__column-8 l-grid__column docs-component-inner {{#if video-hero}}has-video-hero{{/if}}" id="docs">
<div>
{{#unless video-hero}}
{{> header}}
{{/unless}}

{{ docs }}

{{#if sass}}
<hr>
{{> sass-reference}}
{{/if}}

{{#if js}}
<hr>
{{> javascript-reference}}
{{/if}}

{{#if sass}}
{{> building-blocks}}
{{/if}}
</div>
</div>
{{!-- End container for docs --}}

<div class="l-grid__column-3 l-grid__columnshow-for-medium">
{{> table-of-contents}}
</div>

</div>
{{!-- End container for docs and table of contents --}}

</article>
